*{
    box-sizing: border-box;;
    margin: 0;
    outline: 1px solid red;
}
body{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
}
.container{
    display: block;
    position: relative;
    width: calc(100vw - 30%);
    height: calc(100vh - 200px);
    background-image: url(image/call-of-duty-modern-warfare-2-3840x2160-8581.jpg);
    background-size: calc(100vw - 10%) calc(100vh - 200px);
    margin: 20% auto;
    background-position: left;

}
.form-div{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: white;
    display: block;
    margin: auto;
    right: 0;

}